{% extends 'tourist_ver/T_vase.html' %}
{% block content %}
<center><h1 style="font-size: 36px; font-family: -webkit-body;">Police Verification</h1></center>
<div class="container" style="width:800px; background-color:#b0d7ea;padding-top:25px">
<div>
	<form action= "{% url 'police_verification' %}" method="POST"  enctype="multipart/form-data">
        {% csrf_token %}
    <div class="form-group">
    <label for="Name">Tourist Name:</label>
    <input type="text" class="form-control" name="T_name"  placeholder="Insert name">
  </div>

   <div class="form-group">
    <label for="Tour">Tourist Countrey:</label>
    <input type="Text" class="form-control" name="T_Countrey"  placeholder="Insert Countrey">
  </div>

    <div class="form-group">
    <label for="Mobile">Mobile No:</label>
    <input type="Text" class="form-control" name="T_mobile"  placeholder="Insert Mobile Number">
  </div>

  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" name="T_email"  placeholder="Insert email">
  </div>

 <div class="form-group">
    <label for="Duration">Duration</label>
    <input type="text" class="form-control" name="T_duration">
  </div>

<div class="form-group">
    <label for="passport_id">Passport_id</label>
   <input type="text" class="form-control" name="T_pid"  placeholder="Insert Passport id">
  </div>
 <center><button type="submit" class="btn btn-default" name="submit" value="submit" >Submit</button></center>
</form>
</div>
</div>
{%endblock%}
