{% extends 'administrator/base.html' %}
{% block content %}
<p>administrator</p>
    <div class="container">
        <table class="table table-striped">
    {% csrf_token %}
       <thead>
           <th> Complainant id</th>
           <th> Select Types</th>
           <th> Complainant Name</th>
           <th> Mobile No</th>
           <th> Email address:</th>
           <th> Select Identity Card</th>
           <th> Select District</th>
           <th> Thana</th>
           <th> Address</th>
           <th> Your complain</th>
            <th>Send to Police</th>
       </thead>

        <tbody>
         {% for c in complainlist %}
             <tr>
            <td>{{c.id}}</td>
            <td>{{c.Complain_type}}</td>
            <td>{{c.Complainant_name}}</td>
            <td>{{c.Mobile_Number}}</td>
                 <td>{{c.Email}}</td>
            <td>{{c.National_id}}</td>
            <td>{{c.District}}</td>
            <td>{{c.Thana}}</td>
            <td>{{c.Address}}</td>
            <td>{{c.Complain_description}}</td>

             <td><a href="{{ c.return_complain_url }}" class="btn btn-sm btn-success"><i class="fas fa-share-square"></i>Send</a></td>
             </tr>
        {% endfor %}
        </tbody>
    </table>
        <div>
        {% if messages %}
        {% for msg in messages %}
        <div class="alert alert-info" role="alert">
             {{msg}}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    </div>

{% endblock %}
