{% extends 'policeofficer/base.html' %}
{% block content %}
<div id="navbar">
  <a href="#default" id="logo">Police.BD</a>
<div id="navbar-center">
  <a href="#default">Bangladesh Police</a>
</div>
  <div id="navbar-right">
    <a href="#about">logout</a>
  </div>
</div>

<div style="margin-top:180px;padding:25px 5px 2500px 1px;font-size:30px">
<a class="btn btn-sm btn-primary" href="ShowCrimes/" style="vertical-align:middle">Complains</a>
  <a class="btn btn-sm btn-primary" href="Show_ver_requests/" style="vertical-align:middle">Verifications requests</a>
</div>
<a href="crime.html">View Crimes</a>
<script>
// When the user scrolls down 80px from the top of the document, resize the navbar's padding and the logo's font size
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
    document.getElementById("navbar").style.padding = "30px 10px";
    document.getElementById("logo").style.fontSize = "25px";
  } else {
    document.getElementById("navbar").style.padding = "80px 10px";
    document.getElementById("logo").style.fontSize = "35px";
  }
}
</script>
{% endblock content %}