{% extends 'policeofficer/base.html' %}
{% load static %}
{% block content %}
<div id="navbar">
  <a href="#default" id="logo">Police.BD</a>
<div id="navbar-center">
  <a  href="#default">Bangladesh Police</a>
</div>
  <div id="navbar-right">
    <a href="#about">logout</a>
  </div>
</div>

<div style="margin-top:180px;padding:25px 5px 2500px 1px;font-size:30px">
<a class="btn btn-sm btn-primary" id="Pbtn" href="ShowCrimes/" style="background-image:url({% static 'img/ccicon.png' %});vertical-align:middle;background-color: #154e13; margin-right: 20px;
} background-repeat:no-repeat;">Complains</a>

  <a class="btn btn-sm btn-primary" style="background-image:url({% static 'img/cicon.png' %});vertical-align:middle;background-repeat:no-repeat;background-color: darkslategray;" id="Pbtn2" href="Show_ver_requests/" >Verifications requests</a>
  <a class="btn btn-sm btn-primary" id="Pbtn3" href="Show_ver_requests/" style="vertical-align:middle;background-color: dodgerblue; font-family: monospace;"><i style="" class="fas fa-inbox"></i> inbox</a>
</div>
<a href="crime.html">View Crimes</a>
<script>
// When the user scrolls down 80px from the top of the document, resize the navbar's padding and the logo's font size
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
    document.getElementById("navbar").style.padding = "30px 10px";
    document.getElementById("logo").style.fontSize = "25px";
  } else {
    document.getElementById("navbar").style.padding = "80px 10px";
    document.getElementById("logo").style.fontSize = "35px";
  }
}
</script>
{% endblock content %}